{
/* NOTE: DO NOT USE THE MASTER SECRET */
"APP_STORE_OR_AD_HOC_BUILD" = NO; /* set to YES for production builds */
"DEVELOPMENT_APP_KEY" = "EWh8i45fSUijcvTv7AGT5A";
"DEVELOPMENT_APP_SECRET" = "AAhRPtixR4udT1WD_-J6dw";
"PRODUCTION_APP_KEY" = "EWh8i45fSUijcvTv7AGT5A";
"PRODUCTION_APP_SECRET" = "AAhRPtixR4udT1WD_-J6dw";
}